/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keymap_italian.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Layer definitions

#define BASE 0
#define SYM 1
#define EXT 2
#define FNC 3
#define SYM2 4
#define ACCENT 5
#define SETTINGS 6

// -----------------

&mt { flavor = "tap-preferred"; };

/ {
    macros {
        // sometimes my device thinks a modifier is being held down
        // pressing all modifiers fixes it.
    };

    combos {
        compatible = "zmk,combos";

        // both right thumb keys
        // internal-left & external-right thumb keys
        // both left thumb keys

        single_quote {
            bindings = <&kp SQT>;
            key-positions = <17 16>;
            layers = <0>;
        };

        double_quote {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <6 7>;
            layers = <0>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <11 12>;
            layers = <0>;
        };

        word_forward_del {
            bindings = <&kp LA(DEL)>;
            key-positions = <7 8>;
            layers = <1>;
        };

        tilde {
            bindings = <&kp TILDE>;
            key-positions = <3 2>;
        };

        grave {
            bindings = <&kp GRAVE>;
            key-positions = <12 13>;
        };

        caps_words {
            bindings = <&caps_word>;
            key-positions = <21 22>;
        };
    };

    behaviors {
        semicolon_quote: semicolon_quote {
            compatible = "zmk,behavior-tap-dance";
            label = "SEMICOLON_QUOTE";
            #binding-cells = <0>;
            bindings = <&kp SEMICOLON>, <&kp SQT>;
        };

        left_hold_tap: left_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_HOLD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <5 15 25 26 27 28 29 18 17 16 7 6 8 9 19 32 33>;
        };

        right_hold_tap: right_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT_HOLD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 10 20 21 11 1 2 12 22 23 13 3 4 14 24 31 30>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Base alpha layer

        default_layer {
            bindings = <
&kp Q        &kp W           &kp E             &kp R           &kp T        &kp Y        &kp U            &kp I              &kp O            &kp P
&mt LCTRL A  &mt LEFT_ALT S  &mt LEFT_SHIFT D  &mt LEFT_GUI F  &kp G        &kp H        &mt RIGHT_GUI J  &mt RIGHT_SHIFT K  &mt RIGHT_ALT L  &mt RCTRL SEMICOLON
&kp Z        &kp X           &kp C             &kp V           &kp B        &kp N        &kp M            &kp COMMA          &kp DOT          &kp SLASH
                                               &lt 2 TAB       &kp SPACE    &lt 1 ENTER  &kp BACKSPACE
            >;
        };

        // Numbers and high frequency symbols

        sym_layer {
            bindings = <
&kp PERCENT   &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp AT_SIGN    &kp EXCLAMATION  &kp AMPERSAND  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp ASTERISK
&kp CARET     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp HASH       &kp MINUS        &kp EQUAL      &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PIPE
&kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp DOLLAR     &kp UNDERSCORE   &kp PLUS       &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp NON_US_BACKSLASH
                                          &trans        &trans         &trans           &trans
            >;
        };

        // Main modifiers and arrow keys

        ext_layer {
            bindings = <
&kp ESC  &trans    &kp UP    &trans     &trans    &trans          &trans          &trans        &trans     &trans
&trans   &kp LEFT  &kp DOWN  &kp RIGHT  &trans    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &trans
&trans   &trans    &trans    &trans     &trans    &trans          &trans          &trans        &trans     &trans
                             &trans     &trans    &trans          &mo 3
            >;
        };

        // Function keys with modifiers

        fnc_layer {
            bindings = <
&kp F1  &kp F2   &kp F3   &kp F4   &trans    &trans  &kp C_PAUSE           &kp C_PREV            &kp C_NEXT  &trans
&kp F5  &kp F6   &kp F7   &kp F9   &trans    &trans  &kp C_VOLUME_DOWN     &kp C_VOLUME_UP       &kp K_MUTE  &trans
&kp F9  &kp F10  &kp F11  &kp F12  &none     &none   &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &kp CAPS    &none
                          &none    &none     &none   &none
            >;
        };

        // Low frequency symbols.
        // Used to type regional accents.
        // Used to change the keyboard's settings.

        settings_layer {
            bindings = <
&bootloader  &none  &none  &bt BT_CLR  &bt BT_SEL 0    &bt BT_SEL 3  &none  &trans  &none  &bootloader
&none        &none  &none  &none       &bt BT_SEL 1    &bt BT_SEL 4  &none  &none   &none  &none
&none        &none  &none  &none       &bt BT_SEL 2    &bt BT_SEL 5  &none  &none   &none  &none
                           &none       &none           &none         &none
            >;
        };
    };
};
